/* cards */

.card-group {

    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;

    btn {
        font-family: 'Cinzel', serif;
        font-size: x-large;
        font-weight: bold;
    }

    .card {
        &:hover {
            transform: translateY(-15px);
            box-shadow: 30px -10px grey;
        }
    }
    
}