/* partials */

@use "desktop";
@use "mobile";
@use "cards";
@use "galery";
@use "backgrounds";
@use "foot";
@use "galery";
@use "navbar";

/* variables */

$max_width_or_height: 100%;

/* titulo principal */

.main_title {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    text-shadow: black -1px 1px, black -2px 2px, black -3px 3px, black -4px 4px, black -5px 5px;
    color: whitesmoke;
    padding-top: 50px;
}

/* boton activo */

.btn:active {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(76, 76, 102);
}


