/* variables */

$max_width_or_height: 100%;

/* media query para PC */
@media screen and (min-width: 601px) {
        
    .about {
        h2 {
            font-family: 'Cinzel', serif;
            font-size: 250%;
            font-weight: bolder;
            color: whitesmoke;
            padding-bottom: 20px;
        }

        p {
            font-family: 'Cormorant', serif;
            font-size: 150%;
            font-weight: 450;
            color: whitesmoke;
        }

        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px
    }

    .carousel-item {
        /* height: 95vh;
        min-height: 1000px; */
        height: auto;
        width: auto;
        margin: auto;

        img {
            width: $max_width_or_height;
            height: auto;
        }
    }

    .card-group {
        .card-title {
            font-family: 'Cinzel', serif;
            font-size: 100%;
            font-weight: bold;
        }

        .card-text {
            font-family: 'Cormorant', serif;
            font-size: 100%;
        }
    }

    .social_media {
        img {
            width: 50%;
            padding-left: 60px;
            padding-left: 60px;
        }

        padding-top: 200px;
        padding-bottom: 100px;
        text-align: center;
    }

    .main_title {
        h1 {
            font-size: 10rem;
        }
    }

    .navbar {
        .offcanvas-title {
            font-size: 50px;
        }

        .nav-item {
            font-size: 30px;

            .dropdown-menu {
                font-size: 20px;
            }
        }

        .btn {
            font-size: 25px;
        }

        .navbar-brand img {
            width: 20%;
        }
    }
    
    .galery_style {
        img {
            height: 500px;
            width: 500px;
            object-fit: cover;
        }
    
    }   
}

/* media query para mobile */
@media screen and (max-width: 600px) {

        
    .about {
        h2 {
            font-family: 'Cinzel', serif;
            font-size: 250%;
            font-weight: bolder;
            color: whitesmoke;
            padding-bottom: 20px;
        }

    p {
        font-family: 'Cinzel', serif;
        font-size: 115%;
        color: whitesmoke;
    }

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px
    }

    .carousel-item {
        padding-top: 60px;
        height: 15vh;
        /* min-height: 300px; */
        width: auto;
        margin: auto;

        img {
            width: $max_width_or_height;
            height: auto;
        }
    }

    .card-group {
        .card-title {
            font-family: 'Cinzel', serif;
            font-size: 100%;
            font-weight: bold;
        }

        .card-text {
            font-family: 'Cormorant', serif;
            font-size: 100%;
        }
    }

    .social_media {
        img {
            width: $max_width_or_height;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
        }

        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
    }

    .main_title {
        h1 {
            font-size: 5rem;
        }
    }
    
    .navbar {
        .offcanvas-title {
            font-size: 30px;
        }

        .nav-item {
            font-size: 15px;

            .dropdown-menu {
                font-size: 10px;
            }
        }

        .btn {
            font-size: 10px;
        }

        .navbar-brand img {
            width: 50%;
        }
    }
    

}

/* cards */

.card-group {

    padding-top: 80px;
/*     padding-bottom: 300px; */
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;

    btn {
        font-family: 'Cinzel', serif;
        font-size: x-large;
        font-weight: bold;
    }

    .card {
        &:hover {
            transform: translateY(-15px);
            box-shadow: 30px -10px grey;
        }
    }
    
}

/* galery */

.galery_style {
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;

    img {
        &:hover {
            transform: translateY(-20px);   
        }
    }

}

/* titulo principal */

.main_title {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    text-shadow: black -1px 1px, black -2px 2px, black -3px 3px, black -4px 4px, black -5px 5px;
    color: whitesmoke;
    padding-top: 200px;
}

/* background y uso de mixins*/

@mixin background($url, $repeat, $size, $color, $attach) {
    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
    background-color: $color;
    background-attachment: $attach;
}

.homeBackground{
    @include background('../images/premium-fondo-degradado-negro-simple_552255-583.webp', no-repeat, cover, black, fixed)
}

.galeryBackground{
    @include background('../images/black-stone-texture-dark-slate-background-top-view_88281-1206.webp', no-repeat, cover, black, fixed)
}

.houseBackground{
    @include background('../images/122983.jpg', no-repeat, cover, black, fixed)

}

.merchBackground {
    @include background('../images/Game_of_Thrones_Closeup_Swords_Throne_582493_1280x854.jpg', no-repeat, cover, black, fixed)
}

.booksBackground {
    @include background('../images/Game-of-Thrones-emblema.jpg', no-repeat, cover, black, fixed)

}

/* navbar */

.navbar {
    .offcanvas-title {
        font-family: 'Cinzel', serif;
        color: whitesmoke;
        font-weight: bold;
    }

    .nav-item {
        font-family: 'Cinzel', serif;
        color: whitesmoke;
    }

    .btn {
        font-family: 'Cinzel', serif;
    }

}